@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%;
    padding: 0% 20%;
    height: 100%;
    background-color: rgb(249, 252, 255);
    font-family: "Montserrat";
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(253, 248, 255);
    height: min-content;
    padding: 20px;
    height: 100%;
}

ul li a {
    line-height: 1.6;
}

p {
    font-weight: 500;
}

.x-link {
    font-weight: 800;
}